/*Reset*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --Soft-orange: hsl(35, 77%, 62%);
  --Soft-red: hsl(5, 85%, 63%);
  --Off-white: hsl(36, 100%, 99%);
  --Grayish-blue: hsl(233, 8%, 79%);
  --Dark-grayish-blue: hsl(236, 13%, 42%);
  --Very-dark-blue: hsl(240, 100%, 5%);
  --Very-dark-blue-bg: hsl(240, 100%, 5%);
  --Soft-white: hsl(36, 100%, 99%);
  --contrast-level: 1;
}

:root.dark-mode {
  --Soft-orange: hsl(25, 80%, 60%);
  --Soft-red: hsl(355, 85%, 55%);
  --Off-white: hsl(0, 0%, 10%);
  --Grayish-blue: hsl(233, 8%, 50%);
  --Dark-grayish-blue: hsl(0, 0%, 95%);
  --Very-dark-blue: hsl(0, 0%, 97%);
  --Very-dark-blue-bg: hsla(240, 6%, 22%, 0.3);
  --Soft-white: hsl(0, 0%, 89%);
  --contrast-level: 10%;
}

body {
  background-color: var(--Off-white);
}

::-moz-selection {
  background-color: var(--Soft-red);
  color: white;
}

::selection {
  background-color: var(--Soft-red);
  color: white;
}

body {
  font-family: "Inter", sans-serif;
  position: relative;
  color: var(--Very-dark-blue);
}

.container {
  max-width: 90em;
  box-shadow: 0 -15px 10px 5px rgba(0, 0, 0, 0.5);
}

.main-contents {
  display: grid;
  grid-auto-columns: 1fr 1fr 1fr;
  grid-template-areas: "front" "right" "bottom";
  gap: 3rem;
}
@media screen and (min-width: 22.938em) {
  .main-contents {
    grid-template-areas: "front front" "right right" "bottom bottom";
  }
}
@media screen and (min-width: 61.25em) {
  .main-contents {
    grid-template-areas: "front front right" "bottom bottom bottom";
    gap: 3rem;
  }
}

.overlay {
  display: none;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.37);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  position: relative;
  margin-bottom: 2rem;
}

.container {
  max-width: 90rem;
  margin: auto;
  padding: 1rem;
}

.logo {
  filter: contrast(var(--contrast-level));
}

#dark-mode-toggle {
  filter: contrast(var(--contrast-level));
  cursor: pointer;
  margin-left: auto;
  margin-right: 2rem;
}

.btn-menu {
  cursor: pointer;
  padding: 0.5rem 0;
  filter: contrast(var(--contrast-level));
}
@media screen and (min-width: 46.875em) {
  .btn-menu {
    display: none;
  }
}

.btn-close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  max-width: 1.5rem;
  cursor: pointer;
  filter: contrast(var(--contrast-level));
}
@media screen and (min-width: 46.875em) {
  .btn-close {
    display: none;
  }
}

.nav-items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  background-color: var(--Off-white);
  height: 100vh;
  width: 80vw;
  padding-top: 20%;
  transform: translateX(100vw);
  transition: transform 0.2s ease-in-out;
}
@media screen and (min-width: 46.875em) {
  .nav-items {
    transform: translateX(0);
    flex-direction: row;
    gap: 2.5rem;
    position: relative;
    height: unset;
    width: unset;
    padding-top: unset;
  }
}
.nav-items .nav-item {
  margin-left: 7%;
  color: var(--Very-dark-blue);
  transition: color 0.2s ease-in-out;
}
.nav-items .nav-item:hover {
  color: var(--Soft-red);
}

.front-news__thumbnail--desktop {
  display: none;
}
@media screen and (min-width: 22.938em) {
  .front-news__thumbnail--desktop {
    display: block;
  }
}

@media screen and (min-width: 22.938em) {
  .front-news__thumbnail--mobile {
    display: none;
  }
}
.front-news__contents {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
@media screen and (min-width: 22.938em) {
  .front-news__contents {
    grid-template-columns: 1fr 1fr;
  }
}

.front-news {
  grid-area: front;
}

.front-news__thumbnail {
  margin: 0 0 2rem;
}

.front-news__header {
  font-size: clamp(2.5rem, 5vw, 4.5rem);
  line-height: 1;
}

.front-news__brief {
  color: var(--Dark-grayish-blue);
  margin-bottom: 1rem;
}

.btn-read-more {
  text-transform: uppercase;
  color: var(--Off-white);
  background-color: var(--Soft-red);
  letter-spacing: 3px;
  display: inline-block;
  padding: 0.5rem 1.5rem;
  margin-bottom: 1rem;
  transition: background-color 0.2s ease-in-out;
}
.btn-read-more:hover {
  background-color: var(--Very-dark-blue);
}

.right-section {
  grid-area: right;
  background-color: var(--Very-dark-blue-bg);
  padding: 1.5rem 1rem;
}
.right-section .right-section__news {
  display: block;
  position: relative;
}
.right-section .right-section__news:hover .right-section-news__header {
  color: var(--Soft-orange);
}
.right-section .right-section__news:not(:last-child):after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: var(--Dark-grayish-blue);
  position: absolute;
  bottom: -1.5rem;
  left: 0;
}
.right-section .right-section__news .right-section-news__header {
  color: var(--Soft-white);
  font-size: 1.2rem;
  transition: color 0.2s ease-in-out;
}
.right-section .right-section__news .right-section-news__brief {
  color: var(--Grayish-blue);
  font-size: 0.9rem;
  opacity: 0.8;
}
.right-section .right-section__news:not(:last-child) {
  margin-bottom: 3rem;
}
.right-section .right-section__header {
  color: var(--Soft-orange);
  font-size: 2rem;
  font-weight: bold;
  display: block;
  margin-bottom: 1rem;
}

.bottom-newses {
  grid-area: bottom;
  height: auto;
}
.bottom-newses-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
}
@media screen and (min-width: 43.75em) {
  .bottom-newses-container {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}
@media screen and (min-width: 61.25em) {
  .bottom-newses-container {
    gap: 3rem;
  }
}
@media screen and (min-width: 64.063em) {
  .bottom-newses-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.bottom-newses-container li .bottom-news {
  display: grid;
  grid-template-columns: 7rem auto;
  color: unset;
  gap: 1rem;
}
.bottom-newses-container li .bottom-news__header {
  transition: color 0.2s ease-in-out;
}
.bottom-newses-container li .bottom-news:hover .bottom-news__header {
  color: var(--Soft-red);
}
.bottom-newses-container li .bottom-news img {
  height: auto;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.bottom-newses-container li .bottom-news__count {
  font-size: 2rem;
  font-weight: bold;
  color: var(--Grayish-blue);
}
.bottom-newses-container li .bottom-news__header {
  font-size: 1.1rem;
}
.bottom-newses-container li .bottom-news__brief {
  font-size: 0.9em;
  color: var(--Dark-grayish-blue);
}

.attribution {
  --fs-attb: 13px;
  --clr-attb-primary: var(--Soft-red);
  --clr-attb-secondary: var(--Soft-orange);
  text-align: center;
  line-height: 2;
  font-size: var(--fs-attb);
  padding: 0.3rem 0.5rem;
  border-left: 2px solid var(--clr-attb-primary);
  border-right: 2px solid var(--clr-attb-primary);
  border-radius: 10px;
  margin: auto;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.attribution .attb-link {
  color: var(--clr-attb-primary);
  padding: 0 5px;
  transition: all 0.2s ease;
  border-bottom: 2px dotted var(--clr-attb-primary);
  font-size: calc(var(--fs-attb) + 4px);
  text-decoration: none;
}
.attribution .attb-link:hover, .attribution .attb-link:focus {
  color: var(--clr-attb-secondary);
}
.attribution .attb-fem {
  font-size: calc(var(--fs-attb) - 2px);
}/*# sourceMappingURL=main.css.map */