:root {
  --Soft-orange: hsl(35, 77%, 62%);
  --Soft-red: hsl(5, 85%, 63%);
  --Off-white: hsl(36, 100%, 99%);
  --Grayish-blue: hsl(233, 8%, 79%);
  --Dark-grayish-blue: hsl(236, 13%, 42%);
  --Very-dark-blue: hsl(240, 100%, 5%);
}

$bp-large: 90em; // 1440px
$bp-medium-x: 64.063em; // 1025px
$bp-medium: 61.25em; // 980px
$bp-mobile-xx: 46.875em; // 750px
$bp-mobile-x: 43.75em; // 700px
$bp-mobile: 22.938em; // 367px

::selection {
  background-color: var(--Soft-red);
  color: white;
}

body {
  font-family: "Inter", sans-serif;
  position: relative;
  color: var(--Very-dark-blue);
}

.container {
  max-width: $bp-large;
  box-shadow: 0 -15px 10px 5px rgba(0, 0, 0, 0.5);
}

.main-contents {
  display: grid;
  grid-auto-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "front"
    "right"
    "bottom";
  gap: 3rem;

  @media screen and (min-width: $bp-mobile) {
    grid-template-areas:
      "front front"
      "right right"
      "bottom bottom";
  }

  @media screen and (min-width: $bp-medium) {
    grid-template-areas:
      "front front right"
      "bottom bottom bottom";
    gap: 3rem;
  }
}
