.bottom-newses {
  grid-area: bottom;
  height: auto;

  &-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;

    @media screen and (min-width: $bp-mobile-x) {
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
    }

    @media screen and (min-width: $bp-medium) {
      gap: 3rem;
    }

    @media screen and (min-width: $bp-medium-x) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    li {
      .bottom-news {
        display: grid;
        grid-template-columns: 7rem auto;
        color: unset;
        gap: 1rem;

        &__header {
          transition: color 0.2s ease-in-out;
        }

        &:hover .bottom-news__header {
          color: var(--Soft-red);
        }

        img {
          height: auto;
          width: 100%;
          object-fit: cover;
        }

        &__count {
          font-size: 2rem;
          font-weight: bold;
          color: var(--Grayish-blue);
        }

        &__header {
          font-size: 1.1rem;
        }

        &__brief {
          font-size: 0.9em;
          color: var(--Dark-grayish-blue);
        }
      }
    }
  }
}
