.front-news__thumbnail--desktop {
  display: none;

  @media screen and (min-width: 367px) {
    display: block;
  }
}

@media screen and (min-width: 367px) {
  .front-news__thumbnail--mobile {
    display: none;
  }
}

.front-news__contents {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  @media screen and (min-width: 367px) {
    grid-template-columns: 1fr 1fr;
  }
}

.front-news {
  grid-area: front;
}

.front-news__thumbnail {
  margin: 0 0 2rem;
}

.front-news__header {
  // font-size: 2.5rem;
  font-size: clamp(2.5rem, 5vw, 4.5rem);

  line-height: 1;
  // margin-bottom: 1rem;

  @media screen and (min-width: 1025px) {
  }
}

.front-news__brief {
  // font-size: 15px;
  color: var(--Dark-grayish-blue);
  margin-bottom: 1rem;
}

.btn-read-more {
  text-transform: uppercase;
  color: var(--Off-white);
  background-color: var(--Soft-red);
  letter-spacing: 3px;
  display: inline-block;

  padding: 0.5rem 1.5rem;
  margin-bottom: 1rem;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: var(--Very-dark-blue);
  }
}
