.overlay {
  display: none;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.37);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  position: relative;
  margin-bottom: 2rem;
}

.container {
  max-width: 90rem;
  margin: auto;
  padding: 1rem;
}

.btn-menu {
  cursor: pointer;
  padding: 0.5rem 0;

  @media screen and (min-width: $bp-mobile-xx) {
    display: none;
  }
}

.btn-close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  max-width: 1.5rem;
  cursor: pointer;

  @media screen and (min-width: $bp-mobile-xx) {
    display: none;
  }
}

.nav-items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;

  background-color: white;
  height: 100vh;
  width: 80vw;
  padding-top: 20%;
  transform: translateX(100vw);

  transition: transform 0.2s ease-in-out;

  @media screen and (min-width: $bp-mobile-xx) {
    transform: translateX(0);
    flex-direction: row;
    gap: 2.5rem;
    position: relative;

    height: unset;
    width: unset;
    padding-top: unset;
  }

  .nav-item {
    margin-left: 7%;
    color: var(--Very-dark-blue);
    transition: color 0.2s ease-in-out;

    &:hover {
      color: var(--Soft-red);
    }
  }
}
